<label for="vimeoid">
	<f:translate key="tx_jhevimeo_domain_model_video.vimeoid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="vimeoid" /><br />
<label for="width">
	<f:translate key="tx_jhevimeo_domain_model_video.width" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="width" /><br />
<label for="height">
	<f:translate key="tx_jhevimeo_domain_model_video.height" />
</label><br />
	<f:form.textfield property="height" /><br />
<label for="title">
	<f:translate key="tx_jhevimeo_domain_model_video.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_jhevimeo_domain_model_video.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />